{% extends 'base.html' %}

{% block title %}
    Book {{ book.name }}
{% endblock %}


{% block page %}
<a href="{% url 'home' %}">HOME PAGE</a>
        <div>
            <h2>{{ book.name }}</h2>
            {% if book.photo %}
                <img src="{{ book.photo.url }}" alt="{{ book.name }}">
            {% endif %}
            <div>{{ book.short_description }}</div>
            <div>{{ book.price | floatformat:"2" }}</div>
        </div>
    <h2>ORDER</h2>
    {% if sent %}
        <h2>ORDER IS ACCEPTED</h2>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Send Order">
    </form>
{% endblock %}




